body {
  background: #25282a;

  font-family: sans-serif;
  display: grid ;
  height: 100%;
}

.wrapper {
  width: 400px;

  margin: 30px auto;

  color: #fff;

  text-align: center;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;

  font-weight: 500;

  font-size: 2.6em;

  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  -moz-border-radius: 5px;

  -webkit-border-radius: 5px;

  border-radius: 5px;

  -khtml-border-radius: 5px;

  background: #a7dbf1;

  color: #25282a;

  border: solid 1px #fff;

  text-decoration: none;

  cursor: pointer;

  font-size: 1.2em;

  padding: 18px 10px;

  width: 180px;

  margin: 10px;

  outline: none;
}

button:hover {
  -webkit-transition: all 0.5s ease-in-out;

  -moz-transition: all 0.5s ease-in-out;

  transition: all 0.5s ease-in-out;

  background: #25282a;

  border: solid 1px #a7dbf1;

  color: #a7dbf1;
}
